!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv": "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %meta{content: "yes", name: "apple-mobile-web-app-capable"}/
    %title ____2

    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag '//maps.googleapis.com/maps/api/js?key=AIzaSyCm5dVWWB_Zduu5r7NM_CrUEsUihz3eF3g', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags


  %body.with-top-navbar
    = render partial: "layouts/main_navigation"
    = render partial: "layouts/alerts"
    = render partial: "layouts/title"
    .container-fluid.container-fluid-spacious
      = yield
    = render partial: "layouts/footer"
