%h1= link_to @poi.name, poi_url(@poi)
%table
  %tr
    %th name
    %td= @poi.name
  %tr
    %th enabled_at
    %td= @poi.enabled_at
  %tr
    %th enabled_until
    %td= @poi.enabled_until
  %tr
    %th contact
    %td= @poi.contact
  %tr
    %th street
    %td= @poi.street
  %tr
    %th zip
    %td= @poi.zip
  %tr
    %th city
    %td= @poi.city
  %tr
    %th country
    %td= @poi.country
  %tr
    %th phone
    %td= @poi.phone
  %tr
    %th fax
    %td= @poi.fax
  %tr
    %th email
    %td= @poi.email
  %tr
    %th http
    %td= @poi.http
  %tr
    %th latitude
    %td= @poi.latitude
  %tr
    %th longitude
    %td= @poi.longitude
  %tr
    %th opening_times
    %td= @poi.opening_times
  %tr
    %th description
    %td= @poi.description
  %tr
    %th log
    %td= @poi.log
  %tr
    %th created_at
    %td= @poi.created_at
  %tr
    %th updated_at
    %td= @poi.updated_at
  %tr
    %th images_count
    %td= @poi.images_count
  %tr
    %th handy
    %td= @poi.handy
  %tr
    %th price
    %td= @poi.price
  %tr
    %th user_id
    %td= @poi.user_id
  %tr
    %th state
    %td= @poi.state
  %tr
    %th customer_name
    %td= @poi.customer_name
  %tr
    %th customer_contact
    %td= @poi.customer_contact
  %tr
    %th customer_country
    %td= @poi.customer_country
  %tr
    %th customer_zip
    %td= @poi.customer_zip
  %tr
    %th customer_city
    %td= @poi.customer_city
  %tr
    %th customer_street
    %td= @poi.customer_street
  %tr
    %th customer_phone
    %td= @poi.customer_phone
  %tr
    %th customer_fax
    %td= @poi.customer_fax
  %tr
    %th customer_email
    %td= @poi.customer_email
