- title 'Motorradfahrer'
- subtitle 'Hier findest du Biker, Motorradfahrer und Motorradfreunde – Gleichgesinnte'
- meta_title "Motorradfahrer"
- map collection: :users

- if true or !current_user or (current_user and current_user.followings.empty?)
  .row
    .col-12
      .alert.alert-info.mb-4
        %p
          %a.send_facebook_message.btn.btn-primary.pull-right{href: "#", style: "display: none;"} Facebook-Freunde einladen
          Du hast noch keine Freunde. Folge
          = link_to "Bikern in Deiner Nähe", users_path(near: 50)
          oder sag deinen Motorradfreunden, dass sie sich hier anmelden sollen. So könnt ihr euch leichter zum Motorradfahren verabreden.


=# TODO: ACTIVATE THIS AGAIN, SPLIT FIELDS FROM NORMAL FORM IN PARTIALS AND USE THEM HERE: render partial: "users/form_for_important_account_attributes"
.filter.row
  .col-12.mb-4
    .btn-group
      = link_to 'Alle',           url_for(action: :index),                   class: "btn btn-sm #{(params[:near] or params[:order]) ? 'btn-secondary' : 'btn-danger'}"
      = link_to '10 km Umkreis',  url_for(near: 10),                         class: "btn btn-sm #{params[:near].to_i == 10                    ? 'btn-danger' : 'btn-secondary'}"
      = link_to '20 km Umkreis',  url_for(near: 20),                         class: "btn btn-sm #{params[:near].to_i == 20                    ? 'btn-danger' : 'btn-secondary'}"
      = link_to '50 km Umkreis',  url_for(near: 50),                         class: "btn btn-sm #{params[:near].to_i == 50                    ? 'btn-danger' : 'btn-secondary'}"
      = link_to 'Beliebt',        url_for(order: 'impressions_count desc'),  class: "btn btn-sm #{params[:order]  == 'impressions_count desc' ? 'btn-danger' : 'btn-secondary'}"
      = link_to 'Meiste Bilder',  url_for(order: 'images_count desc'),       class: "btn btn-sm #{params[:order]  == 'images_count desc'      ? 'btn-danger' : 'btn-secondary'}"

.row= render @users

= paginate @users

- if current_user and current_user.facebooker?
  - content_for :main_action do
    %a.send_facebook_message.btn.btn-primary.pull-right{href: "#", style: "display: none;"} Facebook-Freunde einladen
