- title "Passwort ändern"
- hide_social_media_buttons

= form_for current_user, url: password_update_users_url, html: { method: :put, role: "form" } do |f|
  .form-group= f.password_field :old_password,          required: true, placeholder: true, class: 'form-control', autofocus: true
  .form-group= f.password_field :password,              required: true, placeholder: true, class: 'form-control'
  .form-group= f.password_field :password_confirmation, required: true, placeholder: true, class: 'form-control'

  .actions
    = link_to "Abbrechen", current_user, class: 'btn btn-secondary'
    = f.submit "Passwort ändern", class: 'btn btn-primary'
