- title

= form_for resource, as: resource_name, url: session_path(resource_name), html: { class: "form-horizontal" } do |f|
  .form-group
    = f.label :email, class: "col-sm-2 control-label"
    .col-sm-10
      = f.email_field :email, autofocus: true, placeholder: "eMail", class: "form-control"

  .form-group
    = f.label :password, class: "col-sm-2 control-label"
    .col-sm-10
      = f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control"

  - if devise_mapping.rememberable?
    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          = f.label :remember_me do
            = f.check_box :remember_me
            Remember me

  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Anmelden', class: "btn btn-primary-outline"

      %hr
      = render "devise/shared/links"
