%li.media.mb-2.px-3.py-2
  = image_tag notification.subject.sender.avatar(:fill_100_100), alt: current_user, class: 'media-object d-flex align-self-start mr-3'
  .media-body
    = t("notifications.#{notification.notification_type}", user: link_to(notification.subject.sender, notification.subject.sender)).html_safe
    .media-body-actions.text-right
      = link_to notification.subject.sender, class: 'btn btn-outline-secondary btn-sm' do
        = icon 'user-o'
        Details

      = link_to conversation_messages_path(:new, user_id: notification.subject.sender.slug), class: 'btn btn-outline-success btn-sm' do
        = icon 'mail-o'
        Nachricht senden
